.complete-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.complete-text {
  font-size: 48px;
  font-weight: bold;
  margin-top: 220px;
  text-align: center;
}

.complete-buttons {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 240px;
  gap: 20px;
}

.complete-buttons .btn {
  font-size: 20px;
  width: 220px;
  height: 60px;
  font-weight: 550;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.gray-btn {
  background-color: rgba(38, 38, 38, 1);
  color: rgba(250, 250, 250, 1);
  transition: background-color 0.3s;
}

.gray-btn:hover {
  background-color: rgba(54, 54, 54, 1);
}

.white-btn {
  background-color: rgba(250, 250, 250, 1);
  color: rgba(38, 38, 38, 1);
  transition: background-color 0.3s;
}

.white-btn:hover {
  background-color: rgba(238, 238, 238, 1);
}
