.copymaincontainer {
  display: flex;
  flex-direction: column;
  /* padding-top: 100px; */
  padding-bottom: 100px;
  background-attachment: fixed;
}
.hero-center {
  position: relative;
  z-index: 1; /* 어둡게 레이어 위로 */
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 0 122px;
  margin-top: 100px;
}

/* 사람 아이콘 */
.hero-icon {
  width: 159px;
  height: auto;
  margin-bottom: 50px;
}

/* 타이틀 */
.hero-title {
  font-weight: 700;
  font-size: 64px;
}

/* 버튼 그룹 */
.hero-actions {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}

/* 버튼 */
.btn-recommend {
  height: 60px;
  padding: 0px 71px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 22px;

  border: none;
  cursor: pointer;
  background: #195fcf;
  color: #fff;
  transition: background-color 0.3s;
}

.btn-recommend:hover {
  background: #004cc7;
}

/* 외곽선 버튼 */
.btn-plus {
  height: 60px;
  padding: 0px 71px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 22px;

  border: none;
  cursor: pointer;
  background: #fafafa;
  color: #262626;
  transition: background-color 0.3s;
}

.btn-plus:hover {
  background: #eeeeee;
}

/* 모달 부분 */
.literature_modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.literature_modal {
  width: 60%;
  height: 62%;
  background: #fff;
  border-radius: 25px;
  padding: 80px;
  position: relative;
  box-shadow: 0px 0px 39px rgba(0, 0, 0, 0.21);
}

.literature_modal-question {
  font-weight: 550;
  font-size: 32px;
  color: #000;
  margin: 0px;
}

.literature_book-info {
  display: flex;
  margin-top: 60px;
  margin-bottom: 30px;
  gap: 40px;
}

.literature_book-cover {
  width: 26%;
  height: 26%;
  position: relative;
  z-index: 1;
}

.literature_book-text {
  flex: 1;
}

.literature_book-title {
  font-weight: 400;
  margin-bottom: 40px;
  font-size: 32px;
  color: #262626;
}

.literature_book-content {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  color: #989898;
  margin-bottom: 0px;
}

.literature_modal-buttons {
  /* display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-top: 0px;
  padding-top: 6px; */
  position: absolute;
  bottom: 40px;
  right: 80px;
  display: flex;
  gap: 20px;
}

.literature_btn-secondary {
  height: 60px;
  padding: 0px 71px;
  background: #fafafa;
  color: #262626;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.literature_btn-secondary:hover {
  background: #eeeeee;
}

.literature_btn-primary {
  height: 60px;
  padding: 0px 71px;
  background: #195fcf;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.literature_btn-primary:hover {
  background: #004cc7;
}

.literature_modal-close {
  position: absolute;
  top: 74px;
  right: 80px;
  background: transparent;
  border: none;
  font-size: 38px;
  cursor: pointer;
  color: #000;
  font-weight: 300;
}
