/* Navbar.css */
.navbar {
  /* 상단 고정 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar-inner {
  width: 100%;
  height: 100%;
  /* 반응형 사용 */
  padding: 0 12vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 피그마 너비는 82px이지만 높이가 동일하여 80px로 진행 */
.nav_logo {
  width: 80px;
  height: auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 48px;
}

.nav-copy-btn {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-copy-btn:hover {
  color: #fff;
  font-weight: 700;
}

.menu a {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s;
  font-weight: 400;
}

.menu a:hover {
  color: #fff;
  font-weight: 700;
}
