.article-wrapper {
  padding-left: 250px;
  text-align: left;
  margin-top: 80px;
}
.article-wrapper h2 {
  color: white;
  font-size: 32px;
  font-weight: 550;
  margin-bottom: 0px;
  margin-top: 0px;
}
.promptcard-slider {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px;
  padding: 40px 0;
  padding-right: 40px;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;

  /* ✅ Edge, Firefox 대응 */
  scrollbar-color: #ffffff transparent;
  scrollbar-width: 10px;
}

.promptcard {
  background-color: white;
  color: black;
  width: 460px;
  height: 574px;
  border-radius: 8px;
  scroll-snap-align: start;
  flex-shrink: 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.promptcard-header {
  display: flex;
  flex-direction: column; /* 위아래 정렬 */
  align-items: flex-start; /* 왼쪽 정렬 */
  height: 52px;
  padding: 20px;
  padding-top: 24px;
  padding-bottom: 0px;
}

.promptcard-header-text {
  font-size: 14px;
  color: #616161;
  margin-bottom: 6px;
}

.promptcard-created {
  font-size: 12px;
  color: #e9e9e7;
}

.promptcard-content {
  padding: 40px;
  padding-top: 40px;
  height: 502px;
  background-repeat: no-repeat;
  background-position: 20px 5px;
}

.promptcard-content-title {
  font-size: 22px;
  font-weight: 550;
  color: rgba(97, 97, 97, 1);
  margin-bottom: 20px;
}

.promptcard-content-content {
  font-size: 18px;
  color: rgba(97, 97, 97, 1);
  line-height: 1.5;
  /* height: 90px; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  display: -webkit-box;
  -webkit-line-clamp: 13;
  -webkit-box-orient: vertical;
}

/* 전체글 보기 버튼 */
.see-all-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-top: 24px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffffff;
  font-size: 32px;
  font-weight: 550;
  background-color: transparent; /* 배경 없음 */
  border: none;
  outline: none;
  flex-shrink: 0;
}

.see-all-button-text {
  cursor: default; /* 텍스트는 클릭 아닌 것처럼 */
}
