.TCP-hero-center {
  position: relative;
  z-index: 1; /* 어둡게 레이어 위로 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 0px;
}

.TCP-hero-center h2 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 0px;
}

.TCP-hero-center img {
  margin-top: 0px;
  /* width: 26%; */
  width: 29vw; /* 화면 너비 기준 비율로 반응형 */
}

.TCP-hero-center p {
  font-size: 32px;
  font-weight: 500;
  margin-top: 20px;
}

/* 버튼 */
.TCP-button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.TCP-btn-cancel {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

/* 저장하지 않기 버튼 */
.TCP-btn-cancel.light {
  background: #fafafa;
  color: #262626;
  transition: background-color 0.3s;
}
.TCP-btn-cancel.light:hover {
  background: #eeeeee;
}

.TCP-btn-cancel.dark {
  background: #dadada;
  color: #363636;
  transition: background-color 0.3s;
}
.TCP-btn-cancel.dark:hover {
  background: #ffffff;
}

.TCP-btn-save {
  width: 220px;
  height: 60px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
}

/* 저장하기 버튼 */
.TCP-btn-save.light {
  background: #195fcf;
  color: #ffffff;
  transition: background-color 0.3s;
}
.TCP-btn-save.light:hover {
  background: #004cc7;
}

.TCP-btn-save.dark {
  background: #f7f7f7;
  color: #363636;
  transition: background-color 0.3s;
}
.TCP-btn-save.dark:hover {
  background: #eeeeee;
}
