/* WritingPage.css */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 250px;
  height: 130px;
}

.tabs {
  display: flex;
  align-items: center;
}

.tab {
  font-size: 32px;
  font-weight: 550;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 30px;
  cursor: pointer;
  color: rgba(97, 97, 97, 1);
  transition: color 0.3s;
}

.tab.active {
  color: rgba(250, 250, 250, 1);
  font-weight: 550;
}

.icon-btn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(217, 217, 217, 1);
  border: none;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.icon-btn:hover {
  background-color: rgba(255, 255, 255, 1);
}

.action-buttons {
  display: flex;
  align-items: center;
}

.action-btn1 {
  width: 220px;
  height: 60px;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 30px;
  border: none;
  color: rgba(38, 38, 38, 1);
  font-weight: 550;
  font-size: 22px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s;
}
.action-btn1.loading {
  background-color: #c9cad4; /* 로딩 시 배경색 */
  color: #ffffff; /* 로딩 시 글자색 */
  cursor: not-allowed;
}
.action-btn1:hover {
  background-color: rgba(238, 238, 238, 1);
}

.action-btn2 {
  width: 220px;
  height: 60px;
  background-color: rgba(38, 38, 38, 1);
  border-radius: 30px;
  border: none;
  color: rgba(250, 250, 250, 1);
  font-weight: 550;
  font-size: 22px;
  cursor: pointer;
  margin-left: 20px;
  transition: background-color 0.3s;
}

.action-btn2:hover {
  background-color: rgba(54, 54, 54, 1);
}

/* 입력 부분 */
.align {
  display: flex;
  flex-direction: column;
  padding: 0 250px;
}

/* 제목 입력 부분 */
.title-input {
  width: 100%;
  padding: 7px 0;
  font-size: 26px;
  color: rgba(250, 250, 250, 1);
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  outline: none;
  margin-bottom: 20px;
}

.title-input::placeholder {
  color: rgb(250, 250, 250);
  font-size: 26px;
  opacity: 0.7;
}

/* 내용 입력 부분 */
.content-input {
  /* height: 460px; */
  height: 48vh;
  padding: 60px;
  font-family: "Pretendard", "Noto Sans KR";
  font-size: 26px;
  color: rgba(97, 97, 97, 1);
  border: none;
  border-radius: 10px;
  background-color: rgba(217, 217, 217, 1);
  overflow-y: auto;
}

.content-input::placeholder {
  color: rgb(97, 97, 97);
  opacity: 0.7;
}

/* 스크롤 부분 수정 */
.content-input::-webkit-scrollbar {
  width: 10px; /* 스크롤바 너비 */
}

.content-input::-webkit-scrollbar-thumb {
  background-color: #616161; /* 스크롤바 색상 */
  border-radius: 4px;
}

.content-input::-webkit-scrollbar-track {
  background-color: transparent; /* 트랙(배경) 색상 */
}

.content-input:focus {
  outline: none;
}

/* 글자수 부분 */
.char-counter {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
  color: rgba(152, 152, 152, 1);
}

.bookcover {
  display: flex;
  flex-direction: column;
  padding: 0 250px;
}

.bookcover p {
  font-size: 26px;
  color: rgba(250, 250, 250, 1);
  margin: 0px;
  margin-bottom: 18px;
}

.cover-options {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.cover-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  position: relative;
}

.cover-btn.blue {
  background-color: rgba(190, 215, 255, 1);
}
.cover-btn.yellow {
  background-color: rgba(255, 242, 178, 1);
}
.cover-btn.green {
  background-color: rgba(236, 255, 159, 1);
}
.cover-btn.white {
  background-color: rgba(250, 250, 250, 1);
}
/* 아이콘 추가 중 */
.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 18px;
  color: black;
  font-weight: bold;
  pointer-events: none;
}

/* 맞춤법 검사 */
.correction-wrapper > h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 550;
  margin-bottom: 20px;
  margin-top: 60px;
  margin-left: 250px;
}

.writing-wrapper {
  min-height: 100vh; /* 내용이 많으면 아래로 늘어남 */
}

.correction-results {
  margin: 0px auto;
  margin-bottom: 120px;
  padding: 0px;
  width: 76vw;
  background-color: #fff;
  border-radius: 10px;
}

.correction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  position: relative;
  flex-wrap: wrap;
}

/* 구분선선 */
.correction-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%; /* 전체 길이의 94%만 선 */
  height: 1px;
  background-color: rgba(224, 224, 224, 1);
}

.correction-texts {
  display: flex;
  align-items: center;
  gap: 26px;
}

.original {
  color: #262626;
  font-size: 26px;
}

.arrow {
  font-weight: bold;
  color: #262626;
}

.corrected {
  color: #262626;
  font-size: 26px;
}

.icon-space {
  margin-right: 8px;
  vertical-align: middle;
  font-size: 20px;
}
.correction-buttons {
  display: flex;
  gap: 20px;
}

.correction-btn {
  display: flex;
  padding: 10px 16px;
  background-color: rgba(152, 152, 152, 1);
  border: none;
  border-radius: 20px;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

.correction-btn:hover {
  background-color: #e0e0e0;
}

/* placeholder 효과 구현 */
.content-input:empty:before {
  content: attr(placeholder);
  color: rgb(97, 97, 97);
  opacity: 0.7;
}

/* 되돌리기 버튼 관련 */
.correction-btn.undo {
  background-color: #f7f7f7;
  color: #616161;
}

/* 교정 내용 없습니다 부분 */
.correction-item {
  color: #262626;
  font-size: 26px;
}

/* 설명보기 부분 */
.explanation-box {
  flex-basis: 100%; /* 다음 줄 전체 차지 */
  margin-top: 20px;
  font-size: 26px;
  color: #262626;
  background: none;
}
